/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight:normal;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
	}
	
ol, ul {
	list-style: none;
	}

blockquote, q {
	quotes: none;
	}

:focus {
	outline: 0;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
	}
a {text-decoration:none; color:#FFF;}
a:hover {text-decoration:underline;}

input { height:13px; border: 1px solid #777; font-size:97%; color:#333; }
input:focus { border: 1px solid #FFF; }
button { display:block; }
hr { display:none; }

/* main */
html {height: 100%;}
body {
	font-family: "Lucida Grande", Tahoma, Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 62.5%;
	height: 100%;
	min-height:695px;
	min-width:960px;
	background: url('/media/img/header_shadow.jpg') no-repeat 50% 110px;
	}
#container {
	width: 100%;
	min-width:960px;
	height:auto !important;
	height: 100%;
	font-size: 1.4em;
	color:#FFF;
	min-height:100%;
	position: relative;
	}
	

/* HEADER */
#header {
	height:110px;
	background:#76ABBB;
	}
#header_inner {
	margin:0 auto;
	max-width:1250px;
	min-width:960px;
	position:relative;
	padding-top:15px;
	font-size:85%;
	}
#logo {
	display:block;
	width:24%;
	height:80px;
	text-indent:-9999px;
	cursor:pointer;
	z-index:10;
	background:url('/media/img/logo_baikal_resorts.png') no-repeat 43px 10px;
	float:left;
	}
#lang {
	font-size:70%;
	position:absolute;
	line-height:155%;
	text-align: left;
	position:absolute;
	right:8px;
	top:90px;
	z-index:9998;
	}
#lang a { padding:0 3px; width:30px; color:#efefef;}
#lang a:hover { color:#FFF; text-decoration: none;}

#lang a.current {
	color:#b4d5df;
	cursor:default;
	}
#menu_main {
	width:710px;
	float:right;
	}
#menu_main ul {
	float:right;
	}
#menu_main ul li {
	padding:0 20px 0 15px;
	border-left:3px solid #FFF;
	float:left;
	text-indent:-9999em;
	background-repeat:no-repeat;
	background-position:16px 0;
	height:80px;
	}
#menu_main ul li.selected {
	background-position:16px -100px;
	}
#menu_main ul li ul {
	float:none;
	padding-top:5px;
	}
#menu_main ul li ul li {
	padding:0;
	float:none;
	border:none;
	background:none;
	text-indent:0;
	height:auto;
	}
#menu_main ul li ul li a {
	padding:0px 5px;
	}
#menu_main ul li ul li a.selected {
	background:#F06215;
	}
	
#main_menu_1 { width:95px; }
#main_menu_2 { width:135px; }
#main_menu_3 { width:100px; }
#main_menu_4 { width:120px; }
	
/* CONTENT */
#content {
	max-width:1250px;
	min-width:960px;
	margin:0 auto;
	padding:40px 0 0 0;
	position:relative;
	height:648px;
	}
	
/* MAIN_BLOCK */
#main_block {
	width:1250px;
	height:648px;
	margin:0 auto;
	position:relative;
	background:#edecec url('/media/img/loading.gif') no-repeat 50% 50%;
	font-size:85%;
	color:#333;
	}
#main_pic {
	position:absolute;
	left:43px;
	right:43px;
	height:100%;
	overflow:hidden;
	}
#main_pic .pic_bgr {
	position:absolute;
	top:0;
	bottom:0;
	z-index:0;
	right:0;
	opacity:0;
	}
#main_pic .pic_bgr img {
	max-height:100%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
	-ms-interpolation-mode:bicubic; 
	image-rendering: optimizeQuality;
	}
#main_pic .pic_bgr img.text_on_image {
	z-index:20;
	}
#main_pic .pic_top {
	display:block;
	position:absolute;
	top:50px;
	left:30px;
	z-index:1;
	opacity:0;
	}
#arr_r {
	position:absolute;
	top:0;
	right:0;
	width:43px;
	bottom:0;
	background:#FFF url('/media/img/arrs.jpg') 86px 50%;
	}
#arr_l {
	position:absolute;
	top:0;
	left:0;
	width:43px;
	bottom:0;
	background:#FFF url('/media/img/arrs.jpg') 129px 50%;
	}	
#arr_l:hover {
	background-position:0 50%;
	cursor:pointer;
	}
#arr_r:hover {
	background-position:100% 50%;
	cursor:pointer;
	}
#dots_main {
	position:absolute;
	right:48px;
	top:-27px;
	width:700px;
	color:#9B9B9B;
	}
#dots_main a {
	display:block;
	width:20px;
	height:20px;
	background:url('/media/img/dots_main.gif') no-repeat 100% 0;
	text-indent:-9999px;
	float:right;
	margin-left:10px;
	}
#dots_main a.selected {
	background-position:0 0;
	}
#dots_main a:hover {
	background-position:-30px 0;
	}
#dots_main a.selected:hover {
	background-position:0 0;
	}
#dots_main div {
	float:right;
	margin-top:3px;
	padding:0 5px;
	font-weight:bold;
	text-transform:uppercase;
	}
	
/* SOCIAL LINKS */
.social_links {
	position:absolute;
	left:48px;
	top:-27px;
	color:#9B9B9B;
	text-transform:uppercase;
	}
.social_links span {
	display: block;
	float:left;
	margin-right: 10px;
	margin-top:3px;
	font-weight:bold;
	}
.social_links div, .social_links div a {
	width: 16px;
	height: 16px;
	}
.social_links div {
	float: left;
	margin:2px 10px 0 0;
	}
.social_links div a {
	display: block;
	background-repeat: no-repeat;
	background-position: 0 0;
	}
.social_links div a:hover {
	background-position: 100% 0;
	}
.social_links a.facebook {
	background: url('/media/img/icons_facebook.png');
	}
.social_links .fb-like {
	position: relative;
	top:-5px;
	width:160px;
	}
.social_links a.twitter {
	background: url('/media/img/icons_twitter.png');
	}
.social_links .retweet {
	position: relative;
	top:-2px;
	width:65px;
	}
	
#menu_text {
	position:absolute;
	right:48px;
	top:-23px;
	width:700px;
	color:#9B9B9B;
	}	
#menu_text a {
	display:block;
	height:20px;
	float:right;
	margin-left:10px;
	margin-top:3px;
	font-weight:bold;
	text-transform:uppercase;
	color:#9B9B9B;
	}
#menu_text a.selected {
	color:#FF7E00;
	}
#menu_text div {
	float:right;
	margin-top:3px;
	padding:0 5px;
	font-weight:bold;
	text-transform:uppercase;
	}
	
	
/* MAPS PAGES */
#main_pic .map_top_info {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	bottom:0;
	/*width:26%;*/
	width:255px;
	background:#edecec;
	color:#000;
	}
#main_pic .map_top_info .inner {
	margin:30px;
	}
#main_pic .map_top_info h2 {
	font-size:210%;
	padding-bottom:20px;
	}
#main_pic .map_top_info h2 img {
	/*width:100%;*/
	}
#main_pic .map_top_info p {
	color:#333;
	margin-bottom:1em;
	font-size:90%;
	}
#main_pic .map_top_info b {
	font-weight:bold;
	color:#000;
	}
#main_pic .map_top_info p a {
	color:#FF7E00;
	}
#main_pic .map_top_info a:hover {
	text-decoration:underline;
	}
#main_pic .maps {
	background:none;
	}
#main_pic .maps .inner {
	color:#000;
	}
#main_pic .map_top_info_2cols {
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	bottom:0;
	width:50%;
	background:#edecec;
	color:#000;
	}
#main_pic .map_top_info_2cols span {
	position:absolute;
	top:82px;
	right:30px;
	width:45%;
	}
#main_pic .map_top_info_2cols .inner {
	margin:30px;
	}
#main_pic .map_top_info_2cols h2 {
	font-size:210%;
	padding-bottom:20px;
	}
#main_pic .map_top_info_2cols p {
	font-size:90%;
	color:#333;
	margin-bottom:1em;
	width:45%;
	}
#main_pic .map_top_info_2cols span p {
	width:100%;
	}
	
#pult {
	position:absolute;
	bottom:50px;
	left:25px;
	width:170px;
	padding:20px 20px 13px 20px;
	background:url('/media/img/pult_bgr.png') no-repeat;
	color:#fff;
	}
#pult a {
	display:block;
	padding:1px 0 9px 30px;
	background:url('/media/img/pult_radio.gif') no-repeat 0 0;
	}
#pult a.selected {
	background-position:0 -42px;
	}
.map_levels {
	display:none;
	position:absolute;
	right:0;
	max-height:100%;
	height:100%;
	}

/* ERRORS */

#errors {
	padding:20px 72px;
	margin:0 auto;
	color:#777;
	font-size: 80%;
	max-width: 1100px;
	min-width: 800px;
	}
#errors h1 {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 130%;
	color:#333;
	}
#errors a {
	color:#76abbb;
	}
	
/* MARKERS */
.markers {
	position:absolute;
	top:0;
	right:0;
	}
.markers .item_marker {
	position:absolute;
	color:#FFF;
	width:1px;
	height:1px;
	}
.markers .item_marker .pos {
	position:absolute;
	top:-12px;
	cursor:pointer;
	}
.markers .item_marker .right {
	left:-10px;
	}
.markers .item_marker .left {
	right:-10px;
	}
.markers .item_marker .arrow, .markers .item_marker .dot {
	vertical-align:middle;
	}
	/* small dot */
.small_dot div {
	position:absolute;
	top:-6px;
	left:-6px;
	width:12px;
	height:12px;
	}
	
	

	/* nature_brown */
.markers .item_marker .nature_brown .arrow div {
	width:10px;
	height:22px;
	background: url('/media/img/nature_dots.png') no-repeat -150px -2px;
	}
.markers .item_marker .nature_brown .dot div {
	width:20px;
	height:22px;
	background: url('/media/img/nature_dots.png') no-repeat -60px -2px;
	}
.markers .item_marker .nature_brown .marker_title {
	vertical-align: middle;
	background-color:#3C3200;
	padding:3px 10px;
	}
.markers .item_marker .pos:hover .nature_brown .dot div {
	background-position: -60px -26px;
	}
.markers .item_marker .bubble .nature_brown {
	background: #3C3200;
	}
.markers .item_marker .left .nature_brown .arrow div {
	background-position: -120px -2px !important;
	}
.small_dot .nature_brown {
	background: url('/media/img/nature_dots.png') no-repeat -4px -6px;
	}
	
	/* bubble */
.markers .item_marker .bubble {
	display: none;
	position:absolute;
	width:245px;
	box-shadow: 0 0 10px black; 
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.7);
	}
.markers .item_marker .bubble img {
	height: auto !important;
	max-height: none !important;
	position: static !important;
	}
.markers .item_marker .bubble .inner {
	padding:20px;
	color:#FFF;
	font-size: 80%;
	}
.markers .item_marker .bubble .inner img {
	margin-bottom: 10px;
	}
	
/* nature_blue */
.markers .item_marker .nature_blue .arrow div {
	width:10px;
	height:22px;
	background: url('/media/img/nature_dots.png') no-repeat -110px -2px;
	}
.markers .item_marker .nature_blue .dot div {
	width:20px;
	height:22px;
	background: url('/media/img/nature_dots.png') no-repeat -40px -2px;
	}
.markers .item_marker .nature_blue .marker_title {
	vertical-align: middle;
	background-color:#087177;
	padding:3px 10px;
	}
.markers .item_marker .pos:hover .nature_blue .dot div {
	background-position: -40px -26px;
	}
.markers .item_marker .bubble .nature_blue {
	background: #087177;
	}
.markers .item_marker .left .nature_blue .arrow div {
	background-position: -80px -2px !important;
	}
.small_dot .nature_blue {
	background: url('/media/img/nature_dots.png') no-repeat -24px -6px;
	}

/* culture_cherry */
.markers .item_marker .culture_cherry .arrow div {
	width:10px;
	height:22px;
	background: url('/media/img/culture_dots.png') no-repeat -150px -2px;
	}
.markers .item_marker .culture_cherry .dot div {
	width:20px;
	height:22px;
	background: url('/media/img/culture_dots.png') no-repeat -60px -2px;
	}
.markers .item_marker .culture_cherry .marker_title {
	vertical-align: middle;
	background-color:#4F012B;
	padding:3px 10px;
	}
.markers .item_marker .pos:hover .culture_cherry .dot div {
	background-position: -60px -26px;
	}
.markers .item_marker .bubble .culture_cherry {
	background: #4F012B;
	}
.markers .item_marker .left .culture_cherry .arrow div {
	background-position: -120px -2px !important;
	}
.small_dot .culture_cherry {
	background: url('/media/img/culture_dots.png') no-repeat -4px -6px;
	}
	
/* culture_green */
.markers .item_marker .culture_green .arrow div {
	width:10px;
	height:22px;
	background: url('/media/img/culture_dots.png') no-repeat -110px -2px;
	}
.markers .item_marker .culture_green .dot div {
	width:20px;
	height:22px;
	background: url('/media/img/culture_dots.png') no-repeat -40px -2px;
	}
.markers .item_marker .culture_green .marker_title {
	vertical-align: middle;
	background-color:#3F481F;
	padding:3px 10px;
	}
.markers .item_marker .pos:hover .culture_green .dot div {
	background-position: -40px -26px;
	}
.markers .item_marker .bubble .culture_green {
	background: #3F481F;
	}
.markers .item_marker .left .culture_green .arrow div {
	background-position: -80px -2px !important;
	}
.small_dot .culture_green {
	background: url('/media/img/culture_dots.png') no-repeat -24px -6px;
	}
	
/* culture_orange */
.markers .item_marker .culture_orange .arrow div {
	width:10px;
	height:22px;
	background: url('/media/img/culture_dots.png') no-repeat -230px -2px;
	}
.markers .item_marker .culture_orange .dot div {
	width:20px;
	height:22px;
	background: url('/media/img/culture_dots.png') no-repeat -180px -2px;
	}
.markers .item_marker .culture_orange .marker_title {
	vertical-align: middle;
	background-color:#FF3005;
	padding:3px 10px;
	}
.markers .item_marker .pos:hover .culture_orange .dot div {
	background-position: -180px -26px;
	}
.markers .item_marker .bubble .culture_orange {
	background: #FF3005;
	}
.markers .item_marker .left .culture_orange .arrow div {
	background-position: -200px -2px !important;
	}
.small_dot .culture_orange {
	background: url('/media/img/culture_dots.png') no-repeat -164px -6px;
	}


/* GOOGLE */
.googlegend li {
	text-indent: 30px;
	padding:6px 0;
	margin-bottom:3px;
	cursor:pointer;
	}
#go_brown { background: url('/media/img/google_pult.png') no-repeat 0 -23px; }
#go_brown.on { background-position:0 4px; }
#go_blue { background: url('/media/img/google_pult.png') no-repeat 0 -77px; }
#go_blue.on { background-position:0 -50px; }
#go_gray { background: url('/media/img/google_pult.png') no-repeat 0 -131px; }
#go_gray.on { background-position:0 -104px; }
#go_panoramio { background: url('/media/img/google_pult.png') no-repeat 0 -184px; }
#go_panoramio.on { background-position:0 -157px; }

/* FOOTER */
#footer {
	position:absolute;
	bottom:-600px;
	height:634px;
	width:100%;
	font-size:70%;
	color:#587278;
	background: url('/media/img/header_shadow.jpg') no-repeat 50% 424px;
	z-index:9999;
	}
#footer .blue_line {
	background: #EAF2F5;
	height:390px;
	}
#footer a {
	color:#76ABBB;
	text-decoration:none;
	}
#footer a:hover {
	text-decoration:underline;
	}
	
#more_info {
	height:34px;
	width:300px;
	background:url('/media/img/more_info_bgr.png') no-repeat;
	}
#more_info a {
	float:right;
	display: block;
	height:25px;
	padding:9px 40px 0 0;
	color:#FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 120%;
	background:url('/media/img/more_info_arr_down.png') no-repeat 87% 0;
	}
#more_info a:hover {
	background-position: 87% -34px;
	}
#more_info a.up {
	background-position:87% -68px;
	}
#more_info a.up:hover {
	background-position:87% -102px;
	}
#footer .image_links {
	display: block;
	padding:30px 0;
	margin:0 auto;
	max-width:1150px;
	min-width:960px;
	height:330px;
	}
#footer .image_links li {
	float:left;
	width:24%;
	height:311px;
	border-right:1px dotted #333;
	background-repeat: no-repeat;
	background-position: 0 30px;
	}
#footer .image_links li:hover {
	cursor:pointer;
	}
#footer .image_links li:hover a {
	color:#555;
	}
#footer .image_links li:hover h3 {
	color:#555;
	}
#footer .image_links div {
	position:absolute;
	top:320px;
	}	
#footer .image_links li:last-child {
	border:none;
	}
#footer .image_links li h3 {
	font-size: 140%;
	text-transform: uppercase;
	font-weight: bold;
	color:#000;
	padding-left:30px;
	margin-bottom:10px;
	}
#footer .image_links li a {
	display:block;
	font-size: 120%;
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
	color:#000;
	padding:0 0 7px 30px;
	}
#footer .image_links li a:hover {
	color:#555;
	}
#footer .image_links li em {
	display:block;
	color:#777;
	padding-left:30px;
	font-style: normal;
	width:50%;
	}	
#footer .copyright {
	position:absolute;
	bottom:10px;
	right:10px;
	}
#footer .bottom_links {
	margin:0 auto;
	max-width:1100px;
	padding:35px 50px 0 80px;
	color:#646464;
	height:155px;
	font-size:115%;
	}
#footer .bottom_links ul li {
	float:left;
	min-width:145px;
	width:16.45%;
	font-weight: bold;
	}
#footer .bottom_links ul li ul li {
	float:none;
	font-weight: normal;
	}
#footer .bottom_links ul li ul li a {
	color:#646464;
	}
#footer .bottom_links ul li ul {
	padding-top:10px;
	}


	
/* admin */
#tinymce hr {
	display:block;
	}	
	
/* self-clear floats */

.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }
    
    

