#map_canvas { height: 100% }
#contentWindow { position:absolute; top:40px; right:20px; z-index:10; background: #FFF; width:150px; font: 12px Arial; padding:10px; display:none; }
#contentWindow span { color:red; font-weight: bold;}
.bubble { font:11px Arial; padding-left:7px;}
.bubble h2 { font:200% Georgia; margin:0; padding:0; }
.bubble em { font-family: Georgia; font-size:130%; color:#76abbb; margin:0 0 5px 0; padding:0; display:block; }
.bubble p { margin:0 0 5px 0; padding:0; width:200px; color:#777;}
.bubble img { margin-bottom:10px; }