{% extends 'ajax_page_base.html' %}{% block ajax_content %}
<div class="pic_bgr">
    <img src="{{ page.image }}" alt="" style="-ms-interpolation-mode: bicubic"/>
    <!-- for show >  div rel="show" -->
    {% for layer in map_layers %}
        {% if forloop.first %}
            <div id="level-0" class="map_levels" rel="show">
                {% include 'map_layer.html' %}
            </div>
        {% else %}
            <div id="level-{{ forloop.counter0 }}" class="map_levels">
                {% include 'map_layer.html' %}
            </div>
        {% endif %}
    {% endfor %}

</div>

<!-- GRAY BLOCK -->
<div class="map_top_info maps">
    <div class="inner">
        <h2><img src="{{ page.get_title_image }}" alt="{{ page.title }}" /></h2>
        <!-- <h3><img src="{{ page.get_subtitle_image }}" alt="{{ page.sub_title }}" /></h3> -->
		{{ page.content|safe }}
        <!-- PULT -->
        <div id="pult">
            <!-- for select >  class="selected" -->
            {% for layer in map_layers %}
                <a id="pult-{{ forloop.counter0 }}" href="#">{{ layer.title }}</a>
            {% endfor %}
        </div>
        <script type="text/javascript">
            var link_hash = window.location.hash.slice(1).split('.');
            $('#pult a').click(function(e){
                e.preventDefault();
                var lh = window.location.hash.slice(1).split('.');
                if($(this).attr('class') == 'selected') {
                    return;
                }
                var num = $(this).attr('id').slice(-1);
                $('.map_levels').fadeOut();

                $('#level-'+num).delay(300).fadeIn();
                $('#pult a').removeClass('selected');
                $(this).addClass('selected');
                if (lh.length > 0) {
                    window.location.hash = '#' + lh[0] + '.' + num;
                }
            }).each(function(){
                var num = $(this).attr('id').slice(-1);
                if (((link_hash.length > 1) && (num == link_hash[1])) ||
                        ((link_hash.length == 1) && (num == '0'))) {
                    $(this).click();
                }
            });
        </script>
        <!-- /PULT -->

    </div><!-- /inner -->
</div><!-- map_top_info -->
<!-- /GRAY BLOCK -->
{% endblock %}