{% extends 'ajax_page_base.html' %}{% block ajax_content %}
<div class="pic_bgr" style="background:#EDECEC; width:70%; height:100%;"></div>


<!-- GRAY BLOCK -->
<div class="map_top_info">
    <div class="inner">
        <h2><img src="{{ page.get_title_image }}" alt="{{ page.title }}" /></h2>
        {{ page.content|safe }}
    </div><!-- /inner -->
</div><!-- map_top_info -->
<!-- /GRAY BLOCK -->
{% endblock %}
