{% extends 'ajax_page_base.html' %}{% block ajax_content %}
<div class="pic_bgr">
    <img src="{{ page.image }}" alt=""/>
    {% if page.image_title %}<img class="text_on_image" src="{{ page.get_slide_title_url }}" alt="" />{% endif %}
    <!-- for show >  div rel="show" -->
</div>

<!-- GRAY BLOCK -->
<div class="map_top_info">
    <div class="inner">
        <h2><img src="{{ page.get_title_image }}" alt="{{ page.title }}" /></h2>
        {{ page.content|safe }}
    </div><!-- /inner -->
</div><!-- map_top_info -->
<!-- /GRAY BLOCK -->
{% endblock %}