{% extends 'ajax_page_base.html' %}{% load i18n %}{% block ajax_content %}
<iframe id="google_frame" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/{{ request.LANGUAGE_CODE }}/resources/google/"></iframe>
<div id="pult">
    <ul class="googlegend" >
         <li id="go_brown">{%  trans 'Base level' %}</li>
         <li id="go_blue">{% trans 'Sky Village' %}</li>
         <li id="go_gray">{% trans 'Resort area' %}</li>
          <li id="go_panoramio">{% trans 'Panoramio photos' %}</li>
	</ul>
</div>{% endblock %}