{% extends 'ajax_page_base.html' %}{% load baikaltags %}{% block ajax_content %}
<div class="pic_bgr" style="width:75%; height:100%;">
   <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl={{ request.LANGUAGE_CODE|map_localize }}&amp;geocode=&amp;q=Moscow,+Mikhalkovskaya+street,+63B,+building+4&amp;sll=55.762268,37.590713&amp;sspn=0.010093,0.027316&amp;vpsrc=0&amp;hnear=Mikhalkovskaya+ulitsa,+63,+Koptevo,+gorod+Moskva,+administrativnyy+okrug+Severnyy,+Russia&amp;t=m&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=55.836719,37.510135&amp;output=embed"></iframe>
</div>


<!-- GRAY BLOCK -->
<div class="map_top_info" style="width:25%">
    <div class="inner">
        <h2><img src="/media/img/{{ request.LANGUAGE_CODE }}/contacts.png" alt="Contacts" /></h2>
        {{ page.content|safe }}
        <script type="text/javascript">
            $(function(){
                $('#arr_r').attr('onclick', 'next_page("{{ request.LANGUAGE_CODE }}", {{ page.pk }});');
                $('#arr_l').attr('onclick', 'previous_page("{{ request.LANGUAGE_CODE }}", {{ page.pk }});');
            });
        </script>

    </div><!-- /inner -->
</div><!-- map_top_info -->
<!-- /GRAY BLOCK -->
{% endblock %}