{% load i18n %}{% load baikaltags %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="The Baikal Lake & Mountain Resort is an all-seasons resort that outperforms all competitors and is capable to become the leader in Southeast Asia. First phase will be opened in 2013">
	<meta name="keywords" content="Baikal, resort, ski">
	<meta name="author" content="Polegraph">
	<meta name="copyright" content="Rusresorts">
	<title>Baikal - Lake & Mountain Resort</title>
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/media/css/{{ request.LANGUAGE_CODE }}_hacks.css" media="screen" />
	<!--[if IE]>
	    <link rel="stylesheet" type="text/css" href="/media/css/ie.css" />
	<![endif]-->
    <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="/media/js/main.js"></script>
	<!-- Facebook tags start-->
	<meta property="fb:admins" content="197306877001990" />
	<meta property="og:site_name" content="Baikal - Lake & Mountain Resort"/>
	<meta property="og:title" content="Baikal - Lake & Mountain Resort"/>
	<meta property="og:description" content="The Baikal Lake & Mountain Resort is an all-seasons resort that outperforms all competitors and is capable to become the leader in Southeast Asia. First phase will be opened in 2013"/>
	<link rel="image_src" href="http://www.baikalresorts.com/media/img/logo_face.gif"/>
	<!-- Facebook tags end -->
</head>
<body onload="if (!window.navigator.userAgent.match(/\sChrome/) && (!window.location.hash || window.location.hash.split('.')[1])) { onImages(); }">
<!-- facebook -->
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/{{ request.LANGUAGE_CODE|localize }}/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- end of facebook -->
	<div id="container">
        {% for language in languages %}
            {% if forloop.first %}<div id="lang">{% endif %}
                <a href="#"{% if language.language_code == request.LANGUAGE_CODE %} class="current"{% else %} onclick="switch_lang('{{ language.language_code }}')"{% endif %}>{{ language.label }}</a>
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
		<div id="header">
			<div id="header_inner">
				<a id="logo" href="/{{ request.LANGUAGE_CODE }}/"><h1>{% trans 'Baikal Resorts' %}</h1></a>
				<div id="menu_main">
                    <ul>
                    {% for section in sections %}{% with page.sub_section.section as page_section %}
                        <li id=main_menu_{{ section.pk }} style="background-image:url('/media/img/menu/{{ request.LANGUAGE_CODE }}/{{ section.menu_image_filename }}');"{% if page_section == section %} class="selected" {% endif %}>{{ section.title }}
                            <ul>
                                {% for subsection in section.ordered_subsections %}{% if subsection.publish %}
                                    <li><a{% if page.sub_section == subsection %} class="selected"{% endif %} href="{{ subsection.get_absolute_url }}">{{ subsection.title }}</a></li>
                                {% endif %}{% endfor %}
                            </ul>
                        </li>
                    {% endwith %}{% endfor %}
					</ul>
				</div><!-- /menu_main -->
			</div><!-- /header_inner -->
		</div><!-- /header -->
		<div id="content">
            <div id="main_block">
                <div id="main_pic">
            {% block content %}{% endblock %}
                </div> <!-- main_pic -->
                {% block arrows %}
                <div id="arr_r"></div>
                <div id="arr_l"></div>
                {% endblock arrows %}
                {% if hide_arrows %}
                    <script type="text/javascript">
                    $('#arr_r').add($('#arr_l')).css({'background': '#FFF', 'cursor': 'auto'});
                    </script>
                {% endif %}
                {% block page_menu %}{% endblock page_menu %}
                <div class="social_links"><span>{% trans 'FOLLOW US:' %}</span>
{#<div><a class="twitter" href="http://www.facebook.com/pages/Baikal-Resort/197306877001990?sk=wall"></a></div>#}
<div class="retweet">
	<a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</div>

<div><a class="facebook" href="http://www.facebook.com/pages/Baikal-Resort/197306877001990?sk=wall"></a></div>
<div class="fb-like" data-href="www.baikalresorts.com" data-send="false" data-layout="button_count" data-width="160" data-show-faces="false" data-font="lucida grande"></div>
</div><!-- /.social_links -->
            </div>
		</div><!-- /content -->
		<div id="footer">
			<div id="more_info">
				<a href="/">{% trans 'More info' %}</a>
			</div>
            {% if bottom_picture_ads %}
			<div class="blue_line">
				<ul class="image_links">
                    {% for ad in bottom_picture_ads %}
                        <li style="background-image: url('{{ ad.get_picture_url }}')">
                            <h3>{{ ad.title }}</h3>
                            <div>
                            	<a href="{{ ad.link }}">{{ ad.link_text }}</a>
                            	<em>{{ ad.description }}</em>
                            </div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
            {% endif %}
            {% if bottom_link_groups %}
            <div class="bottom_links">
				<ul>
                    {% for group in bottom_link_groups %}
                        <li>{{ group.title }}
                            <ul>
                                {% for link in group.published_links %}
                                    <li><a href="{{ link.link }}">{{ link.link_text }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
				</ul>
			</div>

            {% endif %}
			<div class="copyright">
				<span>{% trans 'created by' %} <a href="http://polegraph.ru" target="_blank">polegraph studio</a> | <a href="http://rusresorts.com">&copy; RUSRESORTS</a>. 2011</span>
			</div>
			
		</div>
	</div><!-- /container -->
</body>
<script type="text/javascript">
    if (window.navigator.userAgent.match(/\sChrome/)) { setTimeout('onImages()', 1000); }
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-13090060-9']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    $(document).ready(function(){
        $('#more_info a').click(function(event){
           event.preventDefault();
           if (!$(this).hasClass('up')) {
               var target = $('#footer').position().top;
           } else {
               $('#more_info a').removeClass('up').html('{% trans 'More info' %}');
               var target = 0;
           }
           $('html, body').animate({scrollTop:target}, 500, function(){
               if($('html, body').position().top > '-200') {
                   $('#more_info a').removeClass('up').html('{% trans 'More info' %}');
               } else if($('html, body').position().top < '-400') {
                   $('#more_info a').addClass('up').html('{% trans 'Scroll to Top' %}');
               }
           });
        });


        $(window).scroll(function () {
            if($('html, body').position().top > '-200') {
                 $('#more_info a').removeClass('up').html('{% trans 'More info' %}');
             } else if($('html, body').position().top < '-400') {
                 $('#more_info a').addClass('up').html('{% trans 'Scroll to Top' %}');
             }
        });

    })
</script>
</html>