{% load baikaltags %}{% load fb_versions %}{% load i18n %}<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
  #contentW { position:absolute; top:40px; right:20px; z-index:10; background: #FFF; width:150px; font: 12px Arial; padding:10px; display:none; }
  #contentW span { color:red; font-weight: bold;}
  .bubble { font:11px Arial; padding-left:7px;}
  .bubble h2 { font:200% Georgia; margin:0; padding:0; }
  .bubble em { font-family: Georgia; font-size:130%; color:#76abbb; margin:0 0 5px 0; padding:0; display:block; }
  .bubble p { margin:0 0 5px 0; padding:0; width:200px; color:#777;}
  .bubble img { margin-bottom:10px; }
  .bubble a {
  	text-decoration:none;
  	color:#76abbb;
  	font-style:italic;
  	}
  .bubble a:hover {
  	text-decoration: underline;
  	}
</style>
<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=panoramio&language={{ request.LANGUAGE_CODE }}">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">

function initialize() {
	var myLatLng = new google.maps.LatLng(52.922669, 107.650488);
	var myOptions = {
		zoom: 9,
		center: myLatLng,
		mapTypeId: google.maps.MapTypeId.TERRAIN
	  };

	var map = new google.maps.Map(document.getElementById("map_canvas"),
		  myOptions);

	var baikalArea;
	var areaCoords = [
		new google.maps.LatLng(52.58990135899356, 108.11928926953124),
		new google.maps.LatLng(52.591152785211484, 108.1175726557617),
		new google.maps.LatLng(52.60105864810516, 108.11808763989256),
		new google.maps.LatLng(52.6097114109792, 108.12495409497069),
		new google.maps.LatLng(52.61784136503821, 108.14555346020506),
		new google.maps.LatLng(52.614714638280354, 108.15842806347655),
		new google.maps.LatLng(52.60929444956516, 108.16580950268553),
		new google.maps.LatLng(52.611483452697094, 108.18949877270506),
		new google.maps.LatLng(52.61023260716375, 108.19979845532225),
		new google.maps.LatLng(52.605645867838, 108.2131880427246),
		new google.maps.LatLng(52.60533311811731, 108.21816622265624),
		new google.maps.LatLng(52.60387358989143, 108.2241743708496),
		new google.maps.LatLng(52.59417691769695, 108.2464903498535),
		new google.maps.LatLng(52.590109932511695, 108.25867830761717),
		new google.maps.LatLng(52.58385229512489, 108.26743303784178),
		new google.maps.LatLng(52.578845541895504, 108.2684630061035),
		new google.maps.LatLng(52.5749857793102, 108.26451479443358),
		new google.maps.LatLng(52.57102134510897, 108.26451479443358),
		new google.maps.LatLng(52.57060401539496, 108.25816332348631),
		new google.maps.LatLng(52.57091701305279, 108.25112520703124),
		new google.maps.LatLng(52.572794952085395, 108.24477373608397),
		new google.maps.LatLng(52.58802415265765, 108.21799456127928),
		new google.maps.LatLng(52.58906705499381, 108.21421801098631),
		new google.maps.LatLng(52.589484208979165, 108.208038201416),
		new google.maps.LatLng(52.595428221812924, 108.18503557690428),
		new google.maps.LatLng(52.59553249554281, 108.18040071972655),
		new google.maps.LatLng(52.59699230170388, 108.17610918530272),
		new google.maps.LatLng(52.597409380244514, 108.16460787304686),
		new google.maps.LatLng(52.59939044908904, 108.15705477246092),
		new google.maps.LatLng(52.600224556538116, 108.14589678295897),
		new google.maps.LatLng(52.602622526986735, 108.14435183056639),
		new google.maps.LatLng(52.603352318023774, 108.13937365063475),
		new google.maps.LatLng(52.60293529606294, 108.13645540722655),
		new google.maps.LatLng(52.59615813271069, 108.12976061352538),
		new google.maps.LatLng(52.59459402303967, 108.12495409497069),
		new google.maps.LatLng(52.58990135899356, 108.11928926953124)
	  ];
	var mainCoords = [
		new google.maps.LatLng(52.58990135899356, 108.11928926953124),
		new google.maps.LatLng(52.591152785211484, 108.1175726557617),
		new google.maps.LatLng(52.60105864810516, 108.11808763989256),
		new google.maps.LatLng(52.6097114109792, 108.12495409497069),
		new google.maps.LatLng(52.61784136503821, 108.14555346020506),
		new google.maps.LatLng(52.61617380522336, 108.15173326977538),
		new google.maps.LatLng(52.61502732100502, 108.1527632380371),
		new google.maps.LatLng(52.613672346403526, 108.153106560791),
		new google.maps.LatLng(52.612317329868844, 108.15430819042967),
		new google.maps.LatLng(52.61085803439678, 108.15362154492186),
		new google.maps.LatLng(52.60981565071239, 108.14950167187499),
		new google.maps.LatLng(52.60887748418095, 108.14864336499022),
		new google.maps.LatLng(52.60846051482654, 108.14692675122069),
		new google.maps.LatLng(52.60606286399153, 108.14486681469725),
		new google.maps.LatLng(52.60460336008397, 108.14589678295897),
		new google.maps.LatLng(52.603352318023774, 108.14555346020506),
		new google.maps.LatLng(52.602622526986735, 108.14435183056639),
		new google.maps.LatLng(52.603352318023774, 108.13937365063475),
		new google.maps.LatLng(52.60293529606294, 108.13645540722655),
		new google.maps.LatLng(52.59615813271069, 108.12976061352538),
		new google.maps.LatLng(52.59459402303967, 108.12495409497069),
		new google.maps.LatLng(52.58990135899356, 108.11928926953124)
	];
	var luxCoords = [
		new google.maps.LatLng(52.6079914195572, 108.17919909008788),
		new google.maps.LatLng(52.608043541501935, 108.1805723811035),
		new google.maps.LatLng(52.607887175481636, 108.18143068798827),
		new google.maps.LatLng(52.60752231926307, 108.18211733349608),
		new google.maps.LatLng(52.60752231926307, 108.18331896313475),
		new google.maps.LatLng(52.60736595138174, 108.18391977795409),
		new google.maps.LatLng(52.606896844387805, 108.184263100708),
		new google.maps.LatLng(52.60658410360027, 108.1834906245117),
		new google.maps.LatLng(52.60653197991855, 108.18194567211913),
		new google.maps.LatLng(52.60679259770678, 108.18082987316893),
		new google.maps.LatLng(52.606896844387805, 108.17851244458006),

		new google.maps.LatLng(52.6079914195572, 108.17919909008788)
	];


	baikalArea = new google.maps.Polygon({
		paths: areaCoords,
		strokeColor: "#FFF",
		strokeOpacity: 0.9,
		strokeWeight: 1,
		fillColor: "#ССС",
		fillOpacity: 0.35
	});

	baikalArea.setMap(map);

	mainArea = new google.maps.Polygon({
		paths: mainCoords,
		strokeColor: "#FFF",
		strokeOpacity: 0,
		strokeWeight: 1,
		fillColor: "#ff4758",
		fillOpacity: 0.3
	});

	mainArea.setMap(map);

	luxArea = new google.maps.Polygon({
		paths: luxCoords,
		strokeColor: "#FFF",
		strokeOpacity: 0,
		strokeWeight: 1,
		fillColor: "#59daff",
		fillOpacity: 0.4
	});

	luxArea.setMap(map);


	//Make markers array

	dataMarkers = [{% for marker in markers %}
        {"lat": "{{ marker.lat }}", "lng": "{{ marker.lng }}", "description": {{ marker.description|safe }}},
	{% endfor %}
	];


	/* Show Markers */

    {% for marker in markers %}
		var marker{{ forloop.counter0 }} = new google.maps.Marker({
			position: new google.maps.LatLng(dataMarkers[{{ forloop.counter0 }}].lat, dataMarkers[{{ forloop.counter0 }}].lng),
			map: map,
			description:dataMarkers[{{ forloop.counter0 }}].description
		});

		google.maps.event.addListener(marker{{ forloop.counter0 }}, 'click', function() {
			infowindow.content = marker{{ forloop.counter0 }}.description;
			infowindow.open(map,marker{{ forloop.counter0 }});
		});
    {% endfor %}

	//open Info Window
	var infowindow = new google.maps.InfoWindow();
	infowindow.content = marker0.description;
	infowindow.open(map,marker0);


  	//drawing map overlay
  	var imageBounds = new google.maps.LatLngBounds(
		new google.maps.LatLng(52.570499, 108.117400),
		new google.maps.LatLng(52.618362, 108.268634)
	);
  	var drawmap = new google.maps.GroundOverlay(
		"http://polegraph.ru/media/sites/google_maps/drawing_map.png",
		imageBounds);
	
	//drawmap.setMap(map);

	//dragable marker
	var marker_drag = new google.maps.Marker({
		  position: new google.maps.LatLng(52.56990135899356, 108.11928926953124),
		  draggable: true
		  });
	//marker_drag.setMap(map);
	google.maps.event.addListener(marker_drag, 'dragstart', function() {

  	});
  	google.maps.event.addListener(marker_drag, 'dragend', function() {
    	
    	alert(marker_drag.getPosition().lat()+', '+marker_drag.getPosition().lng());
  	});
  	google.maps.event.addListener(marker_drag, 'drag', function() {
    	
  	});
  	
  	//Panoramio
	var panoramioLayer = new google.maps.panoramio.PanoramioLayer();
	
  	
  	//menu click
  	parent.$('#go_brown').click(function(){
		changeStatement([52.60463101831257, 108.13302217968749], 14, null);
		remClass($(this));
	});
	parent.$('#go_blue').click(function(){
		changeStatement([52.607028747535146, 108.18228899487303], 14, marker8);
		remClass($(this));
	});
	parent.$('#go_gray').click(function(){
		changeStatement([52.59931384612738, 108.17834078320311], 12, null);
		remClass($(this));
	});
	function remClass(obj){
		obj.parent().find('li').not('#go_panoramio').removeClass('on');
		obj.addClass('on');
	}
	parent.$('#go_panoramio').click(function(){
		if(panoramioLayer.getMap() == map){
			panoramioLayer.setMap(null);
			$(this).removeClass('on');
		} else {
			panoramioLayer.setMap(map);
			$(this).addClass('on');
		}
	});
	function changeStatement(lat, zoom, marker) {
		var secondLevel = new google.maps.LatLng(lat[0],lat[1]);
	 	map.setCenter(secondLevel);
		map.setZoom(zoom);
		if (marker == null){
			infowindow.close();
		} else {
			infowindow.content = marker.description;
			infowindow.open(map, marker);
		}
	}

}


</script>
</head>
<body onload="initialize()">
  <div id="map_canvas" style="width:100%; height:100%"></div>
</body>
</html>