{% extends 'base.html' %}{% load i18n %}
{% block page_menu %}
    <script type="text/javascript">
    $(function(){
        if (window.location.hash) {
            load_banner(window.location.pathname.split('/')[1], window.location.hash.slice(1))
        }
    });
    </script>
    {% block arrows %}
        <div id="arr_r" onclick="next_banner('{{ request.LANGUAGE_CODE }}');"></div>
        <div id="arr_l" onclick="previous_banner('{{ request.LANGUAGE_CODE }}');"></div>
    {% endblock %}
    {% include 'part_dot_menu.html' %}{% endblock %}
{% block content %}{% include 'ajax_main_banner.html' %}{% endblock %}