{% load baikaltags %}{% with layer.maplayerhotspot_set.count as hotspots %}
<img id="img-layer-{{ layer.pk }}" src="{{ layer.image }}" alt="" style="-ms-interpolation-mode: bicubic"{% if hotspots %} usemap="#hotspots{{ layer.pk }}"{% endif %}/>
<map name="hotspots{{ layer.pk }}">{% for spot in layer.enabled_hotspots %}
    <area nohref="nohref" shape="{{ spot.shape }}" rel="{{ spot.coords }}" coords="{{ spot.coords }}" onmouseover="$('#img-layer-{{ layer.pk }}').attr('src', '{{ spot.image }}');"
          onmouseout="$('#img-layer-{{ layer.pk }}').attr('src', '{{ layer.image }}');" />
{% endfor %}</map>
{% endwith %}
<div class="markers">
{% for marker in layer.enabled_markers %}
    {# Place the markers: #}
    <div class="item_marker" style="top: {{ marker.location|y }}px; right:{{ marker.location|x }}px" rel="{{ marker.location }}">
    {% if marker.title %}
		{% if marker.direction == 'right' %}
			<div class="pos right">
			<table class="{{ marker.colour }}">
			<tr>
			<td class="dot"><div></div></td>
			<td class="arrow"><div></div></td>
			<td class="marker_title">{{ marker.title|unbreak_lines }}</td>
			</tr>
			</table>
			</div><!-- /.pos  -->
		{% else %}
			<div class="pos left">
			<table class="{{ marker.colour }}">
			<tr>
			<td class="marker_title">{{ marker.title|unbreak_lines }}</td>
			<td class="arrow"><div></div></td>
			<td class="dot"><div></div></td>
			</tr>
			</table>
			</div><!-- /.pos  -->
		{% endif %}
		<div class="bubble" style="{{ marker.direction }}:20px; top:-10px;">
			<div class="{{ marker.colour }} group">
				<div class="inner">
					<img src="{{ marker.image }}" alt="" />
					{{ marker.bubble }}
					<!-- <a href="{{ marker.link|safe }}">More</a> -->
				</div>
    		</div>
    	</div>
	{% else %}
		<div class="small_dot">
			<div class="{{ marker.colour }}"></div>
		</div>
    {% endif %}
    </div><!-- /.item_marker -->
{% endfor %}
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('.item_marker .pos').hover(
		function(){
			var bubble = $(this).parent().find('.bubble');
			bubble.parent().css('z-index', 1000);
			var markerPositionTop = bubble.parent().position().top;
			var markerPositionLeft = bubble.parent().position().left;
			var bgrImg = bubble.parent().parent().parent().find('img');
			var bgrWidth = bgrImg.width();
			var bgrHeight = bgrImg.height();
			var diffBottom = bgrHeight - markerPositionTop;
			// height
			if( bgrHeight - markerPositionTop < bubble.height()){
				bubble.css('top', -(bubble.height() - diffBottom)-20 );
			}
			//width
			if(Math.abs(markerPositionLeft) < bubble.width() + 20 && $(this).hasClass('left')) {
				bubble.css('left', -bubble.width()-$(this).width() );
			}
			if(bgrWidth - Math.abs(markerPositionLeft) < 500 && $(this).hasClass('right')) {
				bubble.css('left', $(this).width() );
			}
			bubble.fadeIn(100);
		},
		function(){
			var bubble = $(this).parent().find('.bubble');
			bubble.fadeOut(100, function(){
				$(this).parent().css('z-index', 1);
			});
		}
		);
        resizeAreas();
	});
</script>