{% extends 'base.html' %}{% load i18n %}
{% block page_menu %}{% if pages.count > 1 %}{% include 'part_text_menu.html' %}{% endif %}
    <script type="text/javascript">
    $(function() {
        if (window.location.hash) {
            var hash_list = window.location.hash.slice(1).split('.');
            if (hash_list[0]) load_page(window.location.pathname.split('/')[1], hash_list[0]);
        }
    });
    </script>
{% endblock %}
{% block arrows %}
    <div id="arr_r" onclick="next_page('{{ request.LANGUAGE_CODE }}', $('#ajax_content_id').attr('title'))"></div>
    <div id="arr_l" onclick="previous_page('{{ request.LANGUAGE_CODE }}', $('#ajax_content_id').attr('title'))"></div>
{% endblock %}