<div id="menu_text">
    {% for p in pages %}{% if p.publish %}
        <a href="#" id="page_dot_{{ p.pk }}" class="page_dot{% if p == page %} selected{% endif %}"
           onclick="load_page('{{ request.LANGUAGE_CODE }}', {{ p.pk }});">{{ p.menu_title }}</a>
    {% endif %}{% endfor %}
    <!-- <div>Pages:</div> -->
</div>