{% load i18n %}<div id="dots_main">
    {% for b in banners %}
        <a href="#" id="banner_dot_{{ b.pk }}" class="banner_dot{% if b == banner %} selected{% endif %}"
           onclick="load_banner('{{ request.LANGUAGE_CODE }}', {{ b.pk }});">{{ b.pk }}</a>
    {% endfor %}
    <div>{% trans 'FACTS ABOUT BAIKAL LAKE & MOUNTAIN RESORT:' %}</div>
</div>
